body {
    margin: 0;
    background-color: rgba( 28, 28, 28, 1 );
}

p {
    margin: 0;
}



* {
    text-decoration: none;
    box-sizing: border-box;
//    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.ContentWrapper {
     
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  padding: 5rem 2rem;
}
.Post {
    width: 100%;
    padding: 0 1rem;
}
@media screen and (min-width: 50rem) {
    .Content{
        padding: 5rem 2rem;
        max-width: 90%;
    }
    .Hero .image {
        margin: none;
        object-fit: cover;
        width: 100%;
        padding: 0 2rem;
    }
}

@keyframes appear_from_top {
    from { transform: translateY(-15%); opacity: 0;}
    to { transform: translateY(0%); opacity: 1;}
}
